* {
    xbg:    #242424;
    xfg:    #FFFFFF;
    x0:     #282828;
    x1:     #cc241d;
    x2:     #98971a;
    x3:     #d79921;
    x4:     #458588;
    x5:     #2699c0; //#b16286;
    x6:     #689d6a;
    x7:     #a89984;
    x8:     #928374;
    x9:     #fb4934;
    x10:    #b8bb26;
    x11:    #fabd2f;
    x12:    #83a598;
    x13:    #4CB7DB; //#d3869b;
    x14:    #8ec07c;
    x15:    #ebdbb2;
}
